/*
	Younga Jin
*/
#allPage{
	text-align: center;
}

#backgroud-img{
	height:720px;
	background-image: url('../img/jump.JPG');
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-position: center;

}

body{
	color: white;
}
