vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-DED1P78\\young
vti_modifiedby:SR|DESKTOP-DED1P78\\young
vti_timelastmodified:TW|07 Oct 2019 21:59:11 -0000
vti_timecreated:TR|07 Oct 2019 21:57:15 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|week06and07/Week06And07.html
vti_nexttolasttimemodified:TW|07 Oct 2019 21:59:11 -0000
vti_cacheddtm:TX|07 Oct 2019 21:59:11 -0000
vti_filesize:IR|1821
vti_cachedlinkinfo:VX|S|images/trilliumminibanner.jpg S|images/trilliumbg.gif S|images/trillium.gif S|images/trilliumfoot.gif
vti_cachedsvcrellinks:VX|FSUS|week06and07/images/trilliumminibanner.jpg FSUS|week06and07/images/trilliumbg.gif FSUS|week06and07/images/trillium.gif FSUS|week06and07/images/trilliumfoot.gif
