body {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategrey;
    background-color: #FFFFEE;
}

label {
    font-weight: 700;
    width: 100px;
    text-align: right;
    float: left;
    color: darkslategrey;
}

legend {
    font-variant: small-caps;
    color: #001F4D;
    font-weight: bold;
    font-size: 1.5em;
}

#allPage {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
    border: medium solid #10113F;
    border-radius: 15px;
    padding: 10px;
}
