vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-DED1P78\\young
vti_modifiedby:SR|DESKTOP-DED1P78\\young
vti_timelastmodified:TW|21 Nov 2019 17:17:03 -0000
vti_timecreated:TR|16 Nov 2019 01:42:08 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|assignment4/assignment4.html
vti_nexttolasttimemodified:TW|21 Nov 2019 17:17:03 -0000
vti_cacheddtm:TX|21 Nov 2019 17:17:03 -0000
vti_filesize:IR|1043
